<x-arcgis-map [onSearch]="search$.asObservable()" [onDraw]="draw.valueChanges">
  <nz-radio-group
    [formControl]="draw"
    [nzSize]="'default'"
    [nzButtonStyle]="'solid'"
    x-arcgis-draw-toolbar
  >
    <label nz-radio-button nzValue="point">
      <i nz-icon nzType="dot-chart" nzTheme="outline"></i>
      <span>点</span>
    </label>
    <label nz-radio-button nzValue="polyline">
      <i nz-icon nzType="fund" nzTheme="outline"></i>
      <span>线</span>
    </label>
    <label nz-radio-button nzValue="polygon">
      <i nz-icon nzType="area-chart" nzTheme="outline"></i>
      <span>区域</span>
    </label>
  </nz-radio-group>

  <ng-container x-arcgis-searchbox>
    <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconButton">
      <input
        placeholder="请输入关键词搜索..."
        nz-input
        [formControl]="search"
        (keyup.enter)="handleSearch(null)"
        [nzAutocomplete]="auto"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button (click)="handleSearch(null)" nz-button nzType="primary" nzSize="default" nzSearch>
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-option
        class="global-search-item"
        *ngFor="let option of listOfOption | async"
        (click)="handleSearch(option)"
        [nzLabel]="option.name"
        [nzValue]="option.name"
      >
        {{ option.name }}
      </nz-auto-option>
    </nz-autocomplete>
  </ng-container>
</x-arcgis-map>
