<x-arcgis-sidenav
  [treeSource]="treeSource | async"
  sideNavTitle="风险分布图"
  class="x-arcgis-sidenav"
  (save)="onSidenavFormSubmit($event)"
></x-arcgis-sidenav>

<x-arcgis-map
  [searchObs]="search$.asObservable()"
  [drawObs]="draw.valueChanges"
  (mapLoaded)="addWidget($event)"
  [basemapObs]="basemapObs"
  [sceneType]="sceneType"
  scenePortalItemId="2f4aba8503ec4b2294bde679d3f950db"
  (drawingType)="onDraw($event)"
  class="x-arcgis-map"
>
  <!--? ng-zorro style draw toolbar-->
  <!-- <x-arcgis-ng-zorro-draw-toolbar [control]="draw"  x-arcgis-draw-toolbar></x-arcgis-ng-zorro-draw-toolbar> -->

  <!--? angular material style draw toolbar-->
  <x-arcgis-mat-draw-toolbar [control]="draw" x-arcgis-draw-toolbar></x-arcgis-mat-draw-toolbar>

  <!--? ng-zorro style searchbox-->
  <!-- <x-arcgis-ng-zorro-searchbox
    [control]="search"
    (onSearch)="handleSearch($event)"
    [options]="listOfOption"
    x-arcgis-searchbox
  ></x-arcgis-ng-zorro-searchbox> -->

  <!--? angular-material style searchbox-->
  <x-arcgis-mat-searchbox
    [control]="search"
    (onSearch)="handleSearch($event)"
    [options]="listOfOption"
    x-arcgis-searchbox
  ></x-arcgis-mat-searchbox>

  <!--? angular-material style floor-->
  <x-arcgis-mat-floor
    x-arcgis-floor
    [floors]="['Z1', 'F1', 'F2']"
    (floorOperated)="onFloorOperated($event)"
  ></x-arcgis-mat-floor>
</x-arcgis-map>

<ng-template #dialogTpl>
  <div>确定要关闭编辑器?</div>

  <div class="dialog-btn-group">
    <button mat-raised-button (click)="dialogRef.close(false)">取消</button>
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">确定</button>
  </div>
</ng-template>
