@import url('https://js.arcgis.com/4.12/esri/css/main.css');

:host {
  display: flex;
  height: 100%;
}

.x-arcgis-sidenav {
  width: 20%;
}

.x-arcgis-map {
  flex: 1;
}

.esri-view {
  height: 100%;
}

.global-search-item {
  display: flex;
}

.dialog-btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;

  button:first-child {
    margin-right: 1em;
  }
}
